{% extends "base_generic.html" %}

{% block content %}
<h2>Welcome to Artists Page</h2>

<img src="/media/images/artist2.jpg" class="rounded-circle float-left " width="33%" heightalt="...">
<div class="jumbotron">
    <h1 class="display-4">Artist  VanGogh</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>




<img src="/media/images/artist.jpg" class="rounded-circle float-right" width="33%" alt="...">
<div class="jumbotron">
    <h1 class="display-4">Artist  Lionardo</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% endblock %}