<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Gallery</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    {% load bootstrap4%}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- {% bootstrap_messages %} -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
        <main class="bg-secondary sticky-top">
</div>

            {% block navbar %}
            <nav class="navbar navbar-expand-sm navbar-light bg-light" >
                <div class="container-fluid">
                    <h1 class="text-fw-bold ">Art Gallery</h1 >
                    <ul class="navbar-nav">
                    <li class="nav-item" ><a href="{% url 'index' %}" class="btn btn-outline-primary">Home </a></li>
                    <li class="nav-item"><a href="{% url 'artworks' %}" class="btn btn-outline-primary">All Artworks </a></li>
                    <li class="nav-item"><a href="{% url 'artists' %}" class="btn btn-outline-primary">Artists Portfolio </a></li>
                    <li class="nav-item"><a href="{% url 'shareart' %}" class="btn btn-outline-primary">Share Your Work</a></li>
                    <li></li>
                </ul>
                </div>   
            </nav>
            {% endblock %}
        </main>
            <div class="col-12 ">
                {% block content %}{% endblock %}
            </div>
</body>

</html>