{% extends "base_generic.html" %}

{% block content %}
<h1>Art Gallery Home</h1>
<p>Welcome to ArtGallery, a website developed by <em>Thurein and Mhu Mhu</em>!</p>
<h2>Dynamic content</h2>


<div class="row">
        <div class="col-6 border p-4 mb-4 border-bg-light shadow" >
            <img src="https://www.go-myanmar.com/sites/go-myanmar.com/files/uploads/sophie_waldschmidt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">View the Detail</a>
            </div>
        </div>
        <div class="col-6 border p-4 mb-4 border-bg-light shadow">
            <img src="http://www.okartgallery.com/assets/uploads/img/09f80-IMG_0939.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">View the Detail</a>
            </div>
        </div>
        <div class="col-6 border p-4 mb-4 border-bg-light shadow">
            <img src="http://www.okartgallery.com/assets/uploads/slider_img/6d70e-okartgallery_slide3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">View the Detail</a>
            </div>
        </div>
    </div>


{% endblock %}